<p style="color: green"><%= notice %></p>

<%= render @room %>

<div data-controller="room" data-id="<%= @room.id %>">

  <div id="video-container" class="video-container">
    <video data-room-target="localVideo" data-peer-id="<%= authenticated?.uuid %>" autoplay muted></video>
    <div class="remote-videos" id="remote-videos">
      <% @room.remote_sessions.each do |session| %>
        <%= render "remote-video", session: session %>
      <% end %>
    </div>
  </div>
</div>


<div>
  <%= link_to "Edit this room", edit_room_path(@room) %> |
  <%= link_to "Back to rooms", rooms_path %>
  <%= button_to "Leave this room", leave_room_path(@room), method: :delete %>

  <%= button_to "Destroy this room", @room, method: :delete %>
</div>
